:root{
    --color-primary: #093A3E;
    --color-primary-dark: #000000;
    
    --color-secondary: #000000;
    --color-secondary-dark: #000000;

    --color-gray-light: #f1f1f1;
    --color-gray: #ccc;
    --color-gray-dark: #333;
    
    
}
